.button {
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #1a1a1a;
    padding: 2vw 4vw;
    background: #fd8f00;
    font-size: 14px;
}

.button:hover {
     background: #ff6a00;
 }

.button:active {
     background: #ff812e;
 }
